@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap');

body{
  background-color: #ffab00;
  background-image: linear-gradient(to bottom right, #ffab00, #ff7b00);
  font-family: Montserrat;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1{
  margin: 0;
  margin-bottom: 28px;
}

.sign{
	font-size: 64px;
	display: inline-block;
}

.content{
  display: flex;
  justify-content: space-around;
  padding: 100px 80px;
  height: 50vh;
  flex: 1;
  text-align: center;
  
}

.flex-item{
  
  flex: 1;
}

.emphasis{
  background-color: #ffffff;
  padding: 12px;
  color: #ffab00;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 14px;
}

.right{
  color: white;
  padding: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
 }

.left{
  
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 18px rgb(0 0 0 / 0.2);
}

.left-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scoreBoard{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.neutral{
  background: none;
  color: black;
  border: 3px solid black;
  padding: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
}

.success{
  background-color: #98ff78;
  padding: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
}

.failure{
  background-color: #ee3d3d;
  color: #fff;
  padding: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
}

.gameInfo{
  text-align: center;
}

.roundDisplay{
	display: flex;
	justify-content: space-between;
}

.playButtons{
  justify-content: space-around;
  display: flex;
  background: #e5e5e5;
  border-radius: 24px;
}

#playerChoice, #computerChoice{
  margin-bottom: 8px;
}

#btn-rock, #btn-paper, #btn-scissors{
  height: 100px;
}

.resetBttn{
	
    background: #ffab00;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 24px;
    border: none;
    color: #fff;
    font-weight: bold;
}

.active {
  display: block !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 12px;
  width: 300px; /* Could be more or less, depending on screen size */
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
}